[Unit]
Description=Networking service for 3G connection
Before=network.target
Wants=network.target
#BindsTo=dev-ttyUSB0.device
#After=dev-ttyUSB0.device
BindsTo=dev-gsmmodem.device
After=dev-gsmmodem.device

[Service]
Type=oneshot
RemainAfterExit=yes
#ExecStart=/usr/bin/wvdial -C /specta/open3gs/default.conf
#ExecStop=-/usr/bin/wvdial
ExecStart=/specta/open3gs/open3gs start
ExecStop=-/specta/open3gs/open3gs stop
KillMode=none

[Install]
WantedBy=multi-user.target
